*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.head{
  line-height: 1.4;
}
.logo{
    float: left;
    width:455px;
    display: block;
    height: auto;
    margin-left: 10px;
}
.side{
    text-align: end;
    margin-right: 30px;
    margin-top: 5px;
}
.nav{
    background-color: rgb(222, 222, 222); 
    column-gap: 40.6px;
    width: 100%;
}
.marquee {
  width: 100%;
  position: absolute;
  overflow: hidden;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 20s linear infinite;
}

.marquee-content a {
  color: #007bff;
  text-decoration: none;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.foot{
  position: relative;
  
  background-color: #00ddff;
  color: white;
  padding-left: 15px;
}
.footer{
  position: relative;
  background-color: rgb(222, 222, 222); 
  width: 100%;
  text-align: center;
}

.picture{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  margin-top: 25px;
  padding: 25px;
  
}
.img1{
  width: 550px;

}


@media only screen and (max-width: 455px){
  *{
    padding: 0;
    margin: 0;
  }
  body{
    font-size: 10px
  }
  .head{
    padding-top: 10px;
  }
  .side{
    margin-top: 15px;
    margin-right: 5px;
    font-size: 9px;
    }
    .logo{
      width: 100%;
      max-width: 210px;
    }
    .marquee{
      width: 100vw;
      font-size: 12px;
  
    }
    .nav-pills{
      column-gap: 2px;
    }
    .picture{
      display: flex;
      flex-direction: column;
      row-gap: 25px;
    }
    .img1{
      width: 300px;
    }
  }